<main class="container">
    <h1>DASHBOARD</h1>
    <div class="row">
        <div class="col-md-8">
            <kendo-grid k-options="gridOptions" k-on-change="handleChange(data, dataItem, columns)"></kendo-grid>
        </div>
        <div class="col-md-4">
            <form ng-submit="sendBook(book)">
                <h3>Add your new book...</h3>
                <div class="form-group">
                    <label for="title">Book title</label>
                    <input type="text" class="form-control" id="title" ng-model="book.title">
                </div>
                <div class="form-group">
                    <label for="author">Author</label>
                    <input type="text" class="form-control" id="author" ng-model="book.author">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-info">Save</button>
                </div>
            </form>
        </div>
    </div>
</main>